@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-onest: var(--font-onest);
  --font-poppins: var(--font-poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    to {
      background-position: 0% 0%;
    }
  }

  --animate-background-position-spin: background-position-spin 3000ms infinite alternate;

  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }

    100% {
      background-position: bottom center;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: #333333;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --menu-transition-duration: 200ms;
  --menu-transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --menu-hover-opacity: 0.9;
  --menu-blur-amount: 8px;

  --color-accent-light: hsl(217.2 91.2% 69.8%);
  --color-secondary-light: hsl(217.2 91.2% 59.8% / 0.1);
}

body {
  font-family: var(--font-onest), sans-serif;
}




.theme-dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(78.261% 0.00009 271.152);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}


* {
  @apply border-border outline-ring/50;
}


section {
  @apply w-full flex flex-col space-y-5
}




table {
  @apply w-full border border-border rounded-md
}

th, td {
  @apply border border-border p-2 text-left
}


/* global.css o tailwind.css */
.gjs-heading-icon::before {
  /*content: attr(data-fa-fallback);*/
  font-family: inherit;
  /* para que use la fuente normal */
}

h4,
h5 {
  @apply font-bold text-xl
}


.hero-text-description {
  @apply text-lg lg:text-2xl
}

.itju-center {
  @apply items-center justify-center
}

.itju-start {
  @apply items-center justify-start
}

.itju-end {
  @apply items-center justify-end
}

.bg-gradient-top {
  background: linear-gradient(to bottom,
      hsla(0, 87%, 53%, 0.05),
      transparent 20%);
}

.bg-gradient-middle {
  background: linear-gradient(180deg,
      transparent,
      rgba(97, 106, 115, 0.85) 40%,
      rgba(97, 106, 115, 0.50) 60%,
      rgba(97, 106, 115, 0.65));
}

.scale-custom {
  @apply hover:scale-105 transition duration-300 ease-in-out
}

.w-custom {
  @apply w-[90vw] lg:w-[60vw]
}

.text-p-custom {
  @apply lg:text-lg text-base
}

.style-navbar {
  @apply text-white
}


.bg-gradient-dark {
  background: linear-gradient(160deg,
      var(--color-primary-dark) 0%,
      #2b2b2b 30%,
      #1f1f1f 60%,
      var(--color-primary-dark) 100%);
}

.bg-gradient-light {
  @apply bg-slate-100
}

.bg-gradient-reverse {
  background: linear-gradient(160deg,
      var(--color-primary-dark) 0%,
      #2b2b2b 30%,
      #1f1f1f 60%,
      var(--color-primary-dark) 100%);
}

@layer utilities {
  .animate-text-shine {
    background-size: 200% auto;
    animation: textShine 5s linear infinite;
  }

  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}

@keyframes textShine {
  to {
    background-position: 200% center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}